In [105]:
import sqlite3
import pandas as pd

def sqlite_to_dataframe(sql_script):
    # Create a connection to an in-memory SQLite database
    conn = sqlite3.connect('student_alcohol_data.db')
    cursor = conn.cursor()
    
    # Execute the provided SQL script
    cursor.execute(sql_script)
    
    results = cursor.fetchall()

    # Fetch column names from the cursor
    column_names = [description[0] for description in cursor.description]
    
    # Convert to DataFrame with column names
    results = pd.DataFrame(results, columns=column_names)

    
    # Close the connection
    conn.close()
    
    return results

In [106]:
Q4_1 = """
SELECT sex AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY sex
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_1 = sqlite_to_dataframe(Q4_1)
print(Q4_1)

  Trait  COUNT(*)  Percent Of Total
0     M        40              76.9

In [107]:
Q4_2 = """
SELECT age AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY age
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_2 = sqlite_to_dataframe(Q4_2)
print(Q4_2)

   Trait  COUNT(*)  Percent Of Total
0     18        16              30.8

In [108]:
Q4_3 = """
SELECT parent_status AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY parent_status 
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_3 = sqlite_to_dataframe(Q4_3)
print(Q4_3)

  Trait  COUNT(*)  Percent Of Total
0     T        46              88.5

In [109]:
Q4_4 = """
SELECT study_time AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY study_time 
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_4 = sqlite_to_dataframe(Q4_4)
print(Q4_4)

   Trait  COUNT(*)  Percent Of Total
0      2        24              46.2

In [110]:
Q4_5 = """
SELECT failures AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY failures
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_5 = sqlite_to_dataframe(Q4_5)
print(Q4_5)

   Trait  COUNT(*)  Percent Of Total
0      0        37              71.2

In [111]:
Q4_6 = """
SELECT activities AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY activities
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_6 = sqlite_to_dataframe(Q4_6)
print(Q4_6)

  Trait  COUNT(*)  Percent Of Total
0   yes        28              53.8

In [112]:
Q4_7 = """
SELECT higher_edu AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY higher_edu 
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_7 = sqlite_to_dataframe(Q4_7)
print(Q4_7)

  Trait  COUNT(*)  Percent Of Total
0   yes        43              82.7

In [113]:
Q4_8 = """
SELECT family_relationship AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY family_relationship 
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_8 = sqlite_to_dataframe(Q4_8)
print(Q4_8)

   Trait  COUNT(*)  Percent Of Total
0      4        21              40.4

In [114]:
Q4_9 = """
SELECT free_time AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY free_time
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_9 = sqlite_to_dataframe(Q4_9)
print(Q4_9)

   Trait  COUNT(*)  Percent Of Total
0      4        16              30.8

In [115]:
Q4_10 = """
SELECT go_out AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY go_out
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_10 = sqlite_to_dataframe(Q4_10)
print(Q4_10)

   Trait  COUNT(*)  Percent Of Total
0      5        24              46.2

In [116]:
Q4_11 = """
SELECT weekend_alcohol AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY weekend_alcohol
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_11 = sqlite_to_dataframe(Q4_11)
print(Q4_11)

   Trait  COUNT(*)  Percent Of Total
0      5        34              65.4

In [117]:
Q4_12 = """
SELECT health_status AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY health_status
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_12 = sqlite_to_dataframe(Q4_12)
print(Q4_12)

   Trait  COUNT(*)  Percent Of Total
0      5        17              32.7

In [118]:
Q4_13 = """
SELECT absences AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY absences
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_13 = sqlite_to_dataframe(Q4_13)
print(Q4_13)

   Trait  COUNT(*)  Percent Of Total
0      0        12              23.1

In [119]:
Q4_14 = """
SELECT currently_dating AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY currently_dating 
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_14 = sqlite_to_dataframe(Q4_14)
print(Q4_14)

  Trait  COUNT(*)  Percent Of Total
0   yes        29              55.8

In [120]:
Q4_15 = """
SELECT tutored AS "Trait",
COUNT(*), ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) AS "Percent Of Total"
FROM student 
WHERE workday_alcohol IN (4,5)
GROUP BY tutored 
ORDER BY ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) DESC
LIMIT 1;
"""
Q4_15 = sqlite_to_dataframe(Q4_15)
print(Q4_15)

  Trait  COUNT(*)  Percent Of Total
0    no        36              69.2

In [121]:
stacked_df = pd.concat([Q4_1, Q4_2, Q4_3, Q4_4, Q4_5, Q4_6, Q4_7, Q4_8, Q4_9, Q4_10, Q4_11, Q4_12, Q4_13, Q4_14, Q4_15], axis=0, ignore_index=True)
stacked_df1 = stacked_df.drop(columns='COUNT(*)', inplace=False)
stacked_df1["Category"] = ["Sex", "Age", "Parent Status", "Study Time", "Failures", "Activities", "Higher Education", "Family Relationship", "Free Time", "Go Out", "Weekend Alcohol", "Health Status", "Absenses", "Currently Dating", "Tutored"]
print(stacked_df1)

   Trait  Percent Of Total             Category
0      M              76.9                  Sex
1     18              30.8                  Age
2      T              88.5        Parent Status
3      2              46.2           Study Time
4      0              71.2             Failures
5    yes              53.8           Activities
6    yes              82.7     Higher Education
7      4              40.4  Family Relationship
8      4              30.8            Free Time
9      5              46.2               Go Out
10     5              65.4      Weekend Alcohol
11     5              32.7        Health Status
12     0              23.1             Absenses
13   yes              55.8     Currently Dating
14    no              69.2              Tutored